
	body{background-image:url(1.jpg);
		 background-repeat:no-repeat;
		 background-attachment:fixed;
		 background-size:cover;
		 font-family:work sans;}
		 
	h1{color:#1B2430; 
	   font-size:60px;
	   }
	   
	  input{{color:#1B2430; }
	 
	