body{
    
    background: linear-gradient(to bottom right, #00b09b, #96c93d);
    background-attachment: fixed;
    background-repeat: no-repeat;
}


#demo, #demo1, #demo2,#demo3, #demo4
{
    font-size: 30px;
}


input[type=text], select {
    font-size: 20px;
    width: 40%;
    text-align: center;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

 


  input[type=button] {
    font-size: 20px;
    width: 20%;
    background-color: #2ec4b6;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=button]:hover {
    background-color: #38a3a5;}

    #sty1{
      font-size: 30px;
       
       
      
   }

   #sty2{
     font-family: "Trebuchet MS", sans-serif;
     background: #00b09b;
       font-size: 40px;
       
   }

    button[type=button] {
      font-size: 20px;
      width: 20%;
      background-color: #2ec4b6;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
  
    button[type=button]:hover {
      background-color: #38a3a5;}

      
.ex1, .ex2
{
    width: 600px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 15px;
    padding-bottom: 20px;
}

.ex1{
  height: 300px;
}

.ex2{
  height: 400px;
}

label
{
  text-align: left;
}